.u-block-0a61-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-0a61-5 {
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
  top: 501px;
  padding: 0;
}

.u-block-0a61-6 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: auto;
  top: 514px;
  right: 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-block-0a61-5 {
    right: auto;
  }
}

@media (max-width: 575px) {
  .u-block-0a61-5 {
    width: 20px;
    height: 20px;
    top: 198px;
  }
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/1646738246_24-kartinkin-net-p-kartinki-alfa-25.jpg');
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 1048px;
}

.u-section-1-1 .u-text-1 {
  font-size: 6rem;
  margin: 173px 419px 0 0;
}

.u-section-1-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 438px 0 0;
}

.u-section-1-1 .u-text-3 {
  line-height: 1.6;
  font-size: 2.25rem;
  margin: 76px 813px 0 0;
}

.u-section-1-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  font-size: 0.625rem;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 33px auto 60px 106px;
  padding: 18px 75px 18px 74px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 4.5rem;
    margin-right: 219px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 238px;
  }

  .u-section-1-1 .u-text-3 {
    margin-right: 613px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-left: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 18px;
  }

  .u-section-1-1 .u-text-3 {
    margin-right: 393px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-top: 24px;
    margin-left: 64px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 497px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1-1 .u-text-3 {
    font-size: 1rem;
    margin-right: 213px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 63px;
    margin-right: 37px;
  }

  .u-section-1-1 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 0;
    margin-right: 37px;
  }

  .u-section-1-1 .u-text-3 {
    width: auto;
    margin-top: 18px;
    margin-right: 190px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 63px;
    padding: 3px 12px 4px;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/103974203_2627229867525435_7664705988184036032_n.jpg');
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 1048px;
}

.u-section-1-2 .u-text-1 {
  font-size: 6rem;
  margin: 173px 419px 0 0;
}

.u-section-1-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 438px 0 0;
}

.u-section-1-2 .u-text-3 {
  line-height: 1.6;
  font-size: 2.25rem;
  margin: 76px 813px 0 0;
}

.u-section-1-2 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  font-size: 0.625rem;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 33px auto 60px 106px;
  padding: 18px 75px 18px 74px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 4.5rem;
    margin-right: 219px;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 238px;
  }

  .u-section-1-2 .u-text-3 {
    margin-right: 613px;
  }

  .u-section-1-2 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-1-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 18px;
  }

  .u-section-1-2 .u-text-3 {
    margin-right: 393px;
  }

  .u-section-1-2 .u-btn-1 {
    margin-top: 20px;
    margin-left: 106px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 497px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1-2 .u-text-3 {
    margin-right: 213px;
    font-size: 1rem;
  }

  .u-section-1-2 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 63px;
    margin-right: 37px;
  }

  .u-section-1-2 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 0;
    margin-right: 37px;
  }

  .u-section-1-2 .u-text-3 {
    margin-top: 18px;
    margin-right: 190px;
  }

  .u-section-1-2 .u-btn-1 {
    margin-top: 10px;
    margin-left: 63px;
    padding: 3px 13px 4px 12px;
  }
}

 .u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/pitbajk-bse-ph-150e-1024x614.png');
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 1048px;
}

.u-section-1-3 .u-text-1 {
  font-size: 6rem;
  margin: 173px 419px 0 0;
}

.u-section-1-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 438px 0 0;
}

.u-section-1-3 .u-text-3 {
  line-height: 1.6;
  font-size: 2.25rem;
  margin: 76px 813px 0 0;
}

.u-section-1-3 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  font-size: 0.625rem;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 31px auto 60px 20px;
  padding: 18px 75px 18px 74px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 4.5rem;
    margin-right: 219px;
  }

  .u-section-1-3 .u-text-2 {
    margin-right: 238px;
  }

  .u-section-1-3 .u-text-3 {
    margin-right: 613px;
  }

  .u-section-1-3 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-right: 237px;
  }

  .u-section-1-3 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 11px;
    margin-right: 328px;
  }

  .u-section-1-3 .u-text-3 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 23px;
    margin-right: 445px;
  }

  .u-section-1-3 .u-btn-1 {
    margin-top: 28px;
    margin-left: 123px;
    padding: 12px 49px 13px 47px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 497px;
  }

  .u-section-1-3 .u-text-1 {
    margin-right: 57px;
  }

  .u-section-1-3 .u-text-2 {
    margin-right: 148px;
  }

  .u-section-1-3 .u-text-3 {
    margin-right: 265px;
    font-size: 1rem;
  }

  .u-section-1-3 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 63px;
    margin-right: 38px;
  }

  .u-section-1-3 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 0;
    margin-right: 38px;
  }

  .u-section-1-3 .u-text-3 {
    margin-top: 18px;
    margin-right: 191px;
  }

  .u-section-1-3 .u-btn-1 {
    margin-top: 11px;
    margin-bottom: 0;
    margin-left: 63px;
    padding: 3px 13px 5px;
  }
}

.u-block-0a61-5:not([data-block-selected]):not([data-cell-selected]),
.u-block-0a61-5:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-0a61-5:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-0a61-5:not([data-block-selected]):not([data-cell-selected]).u-block-0a61-5:not([data-block-selected]):not([data-cell-selected]).u-block-0a61-5:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
}

.u-block-0a61-5:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-0a61-5:not([data-block-selected]):not([data-cell-selected]).u-block-0a61-5:not([data-block-selected]):not([data-cell-selected]).u-block-0a61-5:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
}

.u-block-0a61-5:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-section-1-2 .u-btn-1,
.u-section-1-2 .u-btn-1:before,
.u-section-1-2 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-2 .u-btn-1.u-btn-1.u-btn-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-1-2 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1-2 .u-btn-1.u-btn-1.u-btn-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-1-2 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1-3 .u-btn-1,
.u-section-1-3 .u-btn-1:before,
.u-section-1-3 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-3 .u-btn-1.u-btn-1.u-btn-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-1-3 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1-3 .u-btn-1.u-btn-1.u-btn-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-1-3 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1-1 .u-btn-1,
.u-section-1-1 .u-btn-1:before,
.u-section-1-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-1-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-1-1 .u-btn-1 {
  border-color: transparent !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 562px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  margin: 11px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.75rem;
  margin: 13px auto 0 80px;
}

.u-section-2 .u-list-1 {
  width: 61px;
  margin: -45px auto 0 0;
}

.u-section-2 .u-repeater-1 {
  min-height: 311px;
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  grid-gap: 9px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-shape-1 {
  height: 35px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-shape-2 {
  height: 35px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-shape-3 {
  height: 35px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-shape-4 {
  height: 35px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px;
}

.u-section-2 .u-shape-5 {
  height: 35px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.75rem;
  margin: -242px 549px 0 80px;
}

.u-section-2 .u-text-4 {
  font-size: 1.75rem;
  margin: 21px 649px 0 80px;
}

.u-section-2 .u-text-5 {
  font-size: 1.75rem;
  margin: 17px 570px 0 82px;
}

.u-section-2 .u-text-6 {
  font-size: 1.75rem;
  margin: 19px 570px 0 82px;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  font-size: 0.875rem;
  margin: 41px auto 32px 122px;
  padding: 19px 40px 20px 39px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-left: 68px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -51px;
    margin-right: 879px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 618px;
    margin-left: 68px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 19px;
    margin-right: 462px;
    margin-left: 68px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 19px;
    margin-right: 412px;
    margin-left: 68px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-right: 602px;
    margin-left: 68px;
  }

  .u-section-2 .u-btn-1 {
    margin-bottom: 54px;
    margin-left: 123px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 235px;
    margin-left: 0;
  }

  .u-section-2 .u-list-1 {
    margin-top: 11px;
    margin-right: 205px;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: -157px;
    margin-right: 519px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: -157px;
    margin-right: 309px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: 11px;
    margin-right: 240px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: 67px;
    margin-right: 449px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 79px;
    margin-bottom: 23px;
    margin-left: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    margin-top: 79px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -111px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
    margin-top: -122px;
    margin-right: 420px;
    margin-left: 64px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
    margin-top: 20px;
    margin-right: 129px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
    margin-top: 20px;
    margin-right: 420px;
    margin-left: 64px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1rem;
    margin-top: 19px;
    margin-right: 269px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 314px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 1px;
    margin-right: 124px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 30px;
    margin-right: 170px;
    margin-left: 39px;
  }

  .u-section-2 .u-list-1 {
    width: 41px;
    margin-top: -25px;
    margin-right: 299px;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 166px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-shape-1 {
    height: 17px;
    width: 23px;
    margin-top: 2px;
    margin-right: -2px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-shape-2 {
    height: 17px;
    width: 23px;
    margin-top: 2px;
    margin-right: -2px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-shape-3 {
    height: 17px;
    width: 23px;
    margin-top: 2px;
    margin-right: -2px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-shape-4 {
    height: 17px;
    width: 23px;
    margin-top: 2px;
    margin-right: -2px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-shape-5 {
    height: 17px;
    width: 23px;
    margin-top: 2px;
    margin-right: -2px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: -26px;
    margin-right: 197px;
    margin-left: 39px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -133px;
    margin-right: 61px;
    margin-left: 39px;
  }

  .u-section-2 .u-text-5 {
    width: 256px;
    margin-top: 12px;
    margin-right: auto;
    margin-left: 39px;
  }

  .u-section-2 .u-text-6 {
    width: 271px;
    margin-top: 7px;
    margin-right: auto;
    margin-left: 39px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 48px;
    margin-bottom: 30px;
    margin-left: 39px;
    padding: 7px 5px 9px;
  }
}

.u-section-2 .u-btn-1,
.u-section-2 .u-btn-1:before,
.u-section-2 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-1.u-btn-1.u-btn-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-2 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-2 .u-btn-1.u-btn-1.u-btn-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-2 .u-btn-1 {
  border-color: transparent !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 733px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 26px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 681px;
}

.u-section-3 .u-container-layout-1 {
  padding: 29px 30px;
}

.u-section-3 .u-text-1 {
  margin: 17px 0 0;
}

.u-section-3 .u-list-1 {
  width: 417px;
  margin: 43px 36px 0 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 461px;
  grid-gap: 0px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 30px 15px 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: none;
  margin: 6px 1px 0;
}

.u-section-3 .u-icon-1 {
  vertical-align: 0px;
  margin-right: 4px;
  font-size: 1.1em;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 21px 1px 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 30px 15px 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: none;
  margin: 6px 1px 0;
}

.u-section-3 .u-icon-2 {
  vertical-align: 0px;
  margin-right: 4px;
  font-size: 1.1em;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  margin: 21px 1px 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px 30px 15px 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: none;
  margin: 6px 1px 0;
}

.u-section-3 .u-icon-3 {
  vertical-align: 0px;
  margin-right: 4px;
  font-size: 1.1em;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  margin: 21px 1px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 681px;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 30px 0 60px;
}

.u-section-3 .u-text-8 {
  font-size: 3rem;
  margin: 29px 0 0;
}

.u-section-3 .u-form-1 {
  height: 399px;
  width: 537px;
  margin: 21px 0 0;
}

.u-section-3 .u-label-1 {
  font-weight: 700;
}

.u-section-3 .u-label-2 {
  font-weight: 700;
}

.u-section-3 .u-label-3 {
  font-weight: 700;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none;
  width: 100%;
  letter-spacing: 2px;
  --radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 14px 0 15px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 15px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 562px;
  }

  .u-section-3 .u-list-1 {
    width: 363px;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 562px;
  }

  .u-section-3 .u-form-1 {
    width: 427px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 698px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-list-1 {
    width: 264px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 30px;
  }

  .u-section-3 .u-form-1 {
    width: 336px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-3 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1265px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-form-1 {
    width: 320px;
  }
}